html, body, div, p, img, a{
    margin: 0;
}

a{
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 50vw;
}

/*-----navbar-----*/

.header_nav{
    display: flex;
    flex-wrap: nowrap;
    flex: 0 0 auto;
    background-color: gray;
}

.wrapper-navbar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

#main_navbar{
    display: flex;
    align-items: center;
}

.nav_item_logo{
    min-width: 10%;
    max-width: 10%;
}

.nav_item{
    padding: 10px;
}

/*-----main-----*/

.wrapper_main{
    flex: 1 0 auto;
    margin-top: 60px;
    width: 100%;
    height: 100%;
}

.form_search{
    display: flex;
    margin-bottom: 15px;
}

.input_wrapper{
    flex-wrap: nowrap;
    padding-right: 2px;
}

.container_wrapper_main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 15px;
    margin: 2px;
    border: 2px dotted black;
}

.subtitle_container_main{
    padding: 5px;
}

.main_container_img{
    width: 100%;
}

/*-----pag-----*/

.pagination_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
}

.pagination_pag_container_1{
    display: flex;
    width: 35px;
    margin: 2px;
}

.pagination_pag_container_3{
    display: flex;
    width: 35px;
    margin: 2px;
}

.pagination_pag_container_1 img{
    width: 100%;
    flex-wrap: wrap;
    border: 2px solid black;
}

.pagination_pag_container_3 img{
    width: 100%;
    flex-wrap: wrap;
    border: 2px solid black;
    transform: rotate(180deg);
}

.pagination_pag_container_2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    margin: 2px;
    border: 2px solid black;
    background-color: aqua;
}

/*-----footer-----*/

.wrapper_footer{
    flex: 0 0 auto;
    width: 100%;
    background-color: gray;
}

.container_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}

.container_footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.footer_img_vk{
    width: 30px;
}

.footer_img_tg{
    width: 30px;
}